---
import { Image } from 'astro:assets';

interface Props {
    name: string;
    img: any;
    alt?: string;
}

const { name, img, alt } = Astro.props;
---

<div class="h-full flex-1">
    {
        img && alt && (
            <Image
                src={img}
                alt={alt}
                style="filter: drop-shadow(0 0 10px rgba(255, 255, 255, .2)); mask-image: linear-gradient(to bottom, black 50%, transparent 95%);"
                class="aspect-[4/3] h-full w-full scale-100 object-contain"
                draggable={'false'}
                loading={'eager'}
                format={'png'}
            />
        )
    }
    <h3
        class="block text-balance text-center text-3xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-2xl lg:text-2xl lg:leading-tight">
        {name}
    </h3>
</div>
