---
import { Image } from 'astro:assets';

interface Props {
    name: string;
    img: any;
    alt?: string;
}

const { name, img, alt } = Astro.props;
---

<div class="h-full md:flex-1 lg:flex-1">
    {
        img && alt && (
            <Image
                src={img}
                alt={alt}
                style="filter: drop-shadow(0 0 10px rgba(255, 255, 255, .2)); mask-image: linear-gradient(to bottom, black 50%, transparent 95%);"
                class="aspect-[4/3] h-full w-full scale-100 object-contain transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] hover:scale-105"
                draggable={'false'}
                loading={'eager'}
                format={'png'}
            />
        )
    }
    <h3
        class="block text-center text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 sm:text-4xl md:text-5xl lg:text-4xl">
        {name}
    </h3>
</div>
